{{define "main"}}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <div class="row">
      <div class="col-xl-6">
        <h1>Gestion de Projet</h1>
        <h2>
          Réussissez le changement. <br />
          Atteignez vos objectifs.
        </h2>
        <a href="/search" class="btn-get-started scrollto">
          <i class="bi bi-search"></i> trouvez votre formation…</a
        >
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
  <div class="container" data-aos="zoom-in">
    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide">
          <img src="assets/img/clients/client-1.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/img/clients/client-2.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/img/clients/client-3.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/img/clients/client-4.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/img/clients/client-5.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/img/clients/client-6.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/img/clients/client-7.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/img/clients/client-8.png" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Clients Section -->

<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row no-gutters">
      <div class="content col-xl-5 d-flex align-items-stretch">
        <div class="content">
          <h3>je cherche à…”</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Repudiandae vel quos perspiciatis quidem necessitatibus nulla
            recusandae accusantium beatae consequatur sapiente!
          </p>
        </div>
      </div>
      <div class="col-xl-7 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <i class="bi bi-check"></i>
              <h4>Développer mes compétences en Gestion de Projet</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                ex qui
              </p>
              <a href="#" class="about-btn"
                ><span>Learn More...</span> <i class="bx bx-chevron-right"></i
              ></a>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <i class="bi bi-trophy"></i>
              <h4>Me certifier en Gestion de Projet</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                ex qui
              </p>
              <a href="#" class="about-btn"
                ><span>Learn More...</span> <i class="bx bx-chevron-right"></i
              ></a>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <i class="bi bi-wind"></i>
              <h4>Mettre de l’agilité dans la Gestion de Projet</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                ex qui
              </p>
              <a href="#" class="about-btn"
                ><span>Learn More...</span> <i class="bx bx-chevron-right"></i
              ></a>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <i class="bi bi-arrow-up-right-circle"></i>
              <h4>Elargir mes compétences au-delà de la Gestion de projet</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                ex qui
              </p>
              <a href="#" class="about-btn"
                ><span>Learn More...</span> <i class="bx bx-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End .content-->
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <header class="mb-5 text-center">
    <h2>Développer mes compétences</h2>
  </header>
  <div class="container mt-5" data-aos="fade-up">
    <div class="row mt-5">
      <div class="col-lg-4 col-md-6 mt-5 d-flex align-items-stretch">
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <p>Acquérir les techniques et méthodes essentielles</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-5 d-flex align-items-stretch">
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <p>Adopter un cadre standard de la gestion de projet</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-5 d-flex align-items-stretch">
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <p>Développer les sujets avancés de la gestion de projet</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Les certifications en Gestion de Projets</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, officia.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <div class="row">
      <div class="col-md-4 mt-4 d-flex align-items-stretch">
        <div
          class="icon-box text-center"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <img
            src="/assets/img/projects/pro-1.jpg"
            alt="img"
            class="img-fluid mb-4"
          />
          <h4>
            <a href="#"> PM<sup>2</sup></a>
          </h4>
          <p>La méthode de la gestion européenne</p>
        </div>
      </div>

      <div class="col-md-4 mt-4 d-flex align-items-stretch">
        <div
          class="icon-box text-center"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <img
            src="/assets/img/projects/pro-2.jpg"
            alt="img"
            class="img-fluid mb-4"
          />
          <h4>
            <a href="#"> PMI</a>
          </h4>
          <p>Le standard international de la gestion de projets</p>
        </div>
      </div>

      <div class="col-md-4 mt-4 d-flex align-items-stretch">
        <div
          class="icon-box text-center"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <img
            src="/assets/img/projects/pro-3.jpg"
            alt="img"
            class="img-fluid mb-4"
          />
          <h4>
            <a href="#"> HERMES </a>
          </h4>
          <p>La méthode de la Confédération Suisse</p>
        </div>
      </div>

      <div class="col-md-4 mt-4 d-flex align-items-stretch">
        <div
          class="icon-box text-center"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <img
            src="/assets/img/projects/pro-3.jpg"
            alt="img"
            class="img-fluid mb-4"
          />
          <h4>
            <a href="#"> Prince/2 - Axelos </a>
          </h4>
          <p>La méthode d’origine britannique</p>
        </div>
      </div>

      <!---->

      <div class="col-md-4 mt-4 d-flex align-items-stretch">
        <div
          class="icon-box text-center"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <img
            src="/assets/img/projects/pro-5.jpg"
            alt="img"
            class="img-fluid mb-4"
          />
          <h4>
            <a href="#"> IPMA</a>
          </h4>
          <p>Les certifications internationales.</p>
        </div>
      </div>

      <div class="col-md-4 mt-4 d-flex align-items-stretch">
        <div
          class="icon-box text-center"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <img
            src="/assets/img/projects/pro-6.jpg"
            alt="img"
            class="img-fluid mb-4"
          />
          <h4>
            <a href="#"> AgilePM </a>
          </h4>
          <p>La seule certification agile pour la Gestion de Projet</p>
        </div>
      </div>

      <div class="col-md-4 mt-4 d-flex align-items-stretch">
        <div
          class="icon-box text-center"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <img
            src="/assets/img/projects/pro-7.jpg"
            alt="img"
            class="img-fluid mb-4"
          />
          <h4>
            <a href="#"> Scrum </a>
          </h4>
          <p>Le cadre le plus répandu dans l’agilité</p>
        </div>
      </div>

      <div class="col-md-4 mt-4 d-flex align-items-stretch">
        <div
          class="icon-box text-center"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <img
            src="/assets/img/projects/pro-8.jpg"
            alt="img"
            class="img-fluid mb-4"
          />
          <h4>
            <a href="#"> Certificate </a>
          </h4>
          <p>
            ... et d’autres certifications dans les différents aspects de la
            gestion de projet et du changement
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->

<!-- ======= CTA Section ======= -->
<section class="cta section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>L’agilité dans la gestion de projet</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, officia.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>

    <div class="row mt-5">
      <div class="col-md-4 mt-4">
        <div class="card-box text-center">
          <a href="/">
            <h2>Intoduction à l’agilité</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
              quisquam voluptates eum tenetur facere! Distinctio!
            </p>
          </a>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="card-box text-center">
          <a href="/">
            <h2>Scrum</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
              quisquam voluptates eum tenetur facere! Distinctio!
            </p>
          </a>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="card-box text-center">
          <a href="/">
            <h2>Hybrid approaches</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
              quisquam voluptates eum tenetur facere! Distinctio!
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End CTA Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <header class="mb-5 text-center">
    <h2>Approfondir et élargir ses compétences</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
      perspiciatis est iusto aliquam ipsum in,
    </p>
  </header>
  <div class="container mt-5" data-aos="fade-up">
    <div class="row mt-5">
      <div class="col-lg-3 col-md-6 mt-5 d-flex align-items-stretch">
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <p>Risk Management</p>
          <a href="/">Learn More...</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 d-flex align-items-stretch">
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <p>Change management</p>
          <a href="/">Learn more</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 d-flex align-items-stretch">
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <p>Productivity tools</p>
          <a href="/">Learn More...</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 d-flex align-items-stretch">
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <p>Analysis and Requirements</p>
          <a href="/">Learn More...</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->

<!-- ======= Counts Section ======= -->
<section class="section-bg">
  <div class="container mt-5" data-aos="fade-up">
    <div class="section-title">
      <h2>Les certifications en Gestion de Projets</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, officia.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolor
          nemo eius tempora recusandae fuga, dolores accusamus aperiam quae
          harum rerum repellendus consequatur ducimus reprehenderit.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate a
          laborum aliquid eaque optio iusto est alias, libero aliquam voluptas?
          Animi, possimus! Neque velit ad similique odit minus numquam aut
          dignissimos provident, voluptatum assumenda, atque earum ipsam nulla
          ullam eligendi.
        </p>
      </div>

      <div class="col-md-6">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolor
          nemo eius tempora recusandae fuga, dolores accusamus aperiam quae
          harum rerum repellendus consequatur ducimus reprehenderit.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate a
          laborum aliquid eaque optio iusto est alias, libero aliquam voluptas?
          Animi, possimus! Neque velit ad similique odit minus numquam aut
          dignissimos provident, voluptatum assumenda, atque earum ipsam nulla
          ullam eligendi.
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
          dicta in eum officia labore mollitia aut dignissimos perferendis alias
          odit?
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Testimonials</h2>
      <p>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
        aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
        quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
      </p>
    </div>

    <div
      class="testimonials-slider swiper"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-1.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec
                porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-2.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse
                labore quem cillum quid cillum eram malis quorum velit fore eram
                velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-3.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint
                quorum nulla quem veniam duis minim tempor labore quem eram duis
                noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-4.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                multos export minim fugiat minim velit minim dolor enim duis
                veniam ipsum anim magna sunt elit fore quem dolore labore illum
                veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-5.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                veniam tempor noster veniam enim culpa labore duis sunt culpa
                nulla illum cillum fugiat esse veniam culpa fore nisi cillum
                quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
        <!-- End testimonial item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Testimonials Section -->
{{end}}
